<table>
    <tbody>
        <tr>
            <th class="confluenceTh">&nbsp;</th>
            <th class="confluenceTh"> 2005</th>
            <th class="confluenceTh"> 2006</th>
            <th class="confluenceTh"> 2007</th>
        </tr>
        <tr>
            <td class="confluenceTd"> Salmon</td>

            <td class="confluenceTd"> 800</td>
            <td class="confluenceTd"> 950</td>
            <td class="confluenceTd"> 850</td>
        </tr>
        <tr>
            <td class="confluenceTd"> Ikan Bilis</td>
            <td class="confluenceTd"> 1000</td>

            <td class="confluenceTd"> 300</td>
            <td class="confluenceTd"> 400</td>
        </tr>
        <tr>
            <td class="confluenceTd"> Herring</td>
            <td class="confluenceTd"> 210</td>
            <td class="confluenceTd"> 310</td>

            <td class="confluenceTd"> 80</td>
        </tr>
    </tbody>
</table>