<table>
    <tbody>
        <tr>
            <th class="confluenceTh"> Fish type</th>
            <td class="confluenceTd"> Salmon</td>
            <td class="confluenceTd"> Ikan Bilis</td>
            <td class="confluenceTd"> Herring</td>
        </tr>
        <tr>

            <th class="confluenceTh"> Quantity</th>
            <td class="confluenceTd"> 2,600</td>
            <td class="confluenceTd"> 1,700</td>
            <td class="confluenceTd"> 600</td>
        </tr>
    </tbody>
</table>